/ConsoleVersionOfKVSV/.vs/ConsoleVersionOfKVSV/DesignTimeBuild/*.dtbcache
/ConsoleVersionOfKVSV/.vs/ConsoleVersionOfKVSV/v16/*.suo
/ConsoleVersionOfKVSV/.vs/ConsoleVersionOfKVSV/v16/Server/sqlite3/*.lock
/ConsoleVersionOfKVSV/.vs/ConsoleVersionOfKVSV/v16/Server/sqlite3/*.ide
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/*.json
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/bin/Debug/netcoreapp3.1/*.json
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/bin/Debug/netcoreapp3.1/ConsoleVersionOfKVSV.dll
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/ConsoleVersionOfKVSV.csproj.nuget.cache
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/bin/Debug/netcoreapp3.1/ConsoleVersionOfKVSV.pdb
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/Debug/netcoreapp3.1/ConsoleVersionOfKVSV.exe
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/Debug/netcoreapp3.1/ConsoleVersionOfKVSV.pdb
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/Debug/netcoreapp3.1/ConsoleVersionOfKVSV.dll
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/Debug/netcoreapp3.1/*.cache
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/Debug/netcoreapp3.1/*.txt
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/*.props
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/Debug/netcoreapp3.1/*.cs
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/obj/*.targets
/ConsoleVersionOfKVSV/ConsoleVersionOfKVSV/bin/Debug/netcoreapp3.1/*.exe
